body {
	background-color: rgb(33, 47, 61);
	text-align: center;
}

main {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: rgb(255, 255, 255);
}


nav {
	background-color: rgb(52, 73, 94);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav ul li:hover {
	background-color: rgb(236, 112, 99);
}

nav ul li a {
	margin: 10px 20px;
	display: block;
	color: rgb(202, 207, 210 );
	padding: 20px;
	font-size: 1em;
	font-family: fantasy;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: rgb(36, 113, 163);
}

header.logo_one {
	margin: auto;
	background-image: url('images/logo1.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 400px;
}

header.logo_two {
	margin: auto;
	background-image: url('images/logo2.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 400px;
}

header.logo_three {
	margin: auto;
	background-image: url('images/logo3.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 400px;
}

header.logo_four {
	margin: auto;
	background-image: url('images/logo4.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 400px;
}

header h1 {
	text-transform: uppercase;
	color: rgb(36, 113, 163);
	margin: auto;
	padding: 153.6px 0;
}

section article, section aside {
	padding: 5px 15px;
}

section article {
	text-align: left;
	color: rgb(255, 255, 255);
	background-color: rgb(36, 113, 163);
}

section article p, section aside p {
	margin-bottom: 0;
}

section aside {
	color: rgb(255, 255, 255);
	background-color: rgb(175, 122, 197);
}

section aside h2 {
	margin-top: 0;
}

section.fun_fact h2, section.fun_fact img {
	width: 100%;
}

section.fun_fact p {
	width: 100%;
}

section.fun_fact figure {
	margin: 0;
}

section.fun_fact article:nth-child(1) {
	background-color: rgb(236, 112, 99);
	text-align: center;
}

section.fun_fact article:nth-child(2) {
	background-color: rgb(175, 122, 197);
	text-align: center;
}

section.fun_fact article:nth-child(3) {
	background-color: rgb(22, 160, 133);
	text-align: center;
}

section.fun_fact article:nth-child(4) {
	background-color: rgb(127, 179, 213 );
	text-align: center;
}

div.button_one {
	padding: 25px;
	background-color: rgb(236, 112, 99);
}

div.button_one button {
	text-transform: uppercase;
	font-size: 20px;
	color: rgb(255, 255, 255);
	padding: 20px 40px;
	border-radius: 50px;
	background-color: rgb(36, 113, 163);
}

div.price_section {
	display: flex;
	flex-wrap: wrap;
}

section.pricing article {
	background-color: rgb(236, 112, 99);
	padding-bottom: 20px;
}

section.pricing_one article:nth-child(1) {
	background-color: rgb(175, 122, 197);
	padding-bottom: 20px;
}

section.pricing_one article:nth-child(2) {
	background-color: rgb(22, 160, 133);
	padding-bottom: 20px;
}

section.pricing_two article:nth-child(1) {
	background-color: rgb(127, 179, 213 );
	padding-bottom: 20px;
}

section.pricing_two article:nth-child(2) {
	background-color: rgb(247, 220, 111);
	padding-bottom: 20px;
}

section.pricing_two article:nth-child(3) {
	background-color: rgb(36, 113, 163);
	padding-bottom: 20px;
}

section.pricing_three article {
	background-color: rgb(205, 97, 85);
	padding-bottom: 20px;
}

footer {
	background-color: rgb(52, 73, 94);
	color: rgb(202, 207, 210);
	padding: 20px 0;
}

@media screen and (min-width: 600px) {
	nav ul li {
		width: 25%;
	}

	header h1 {
		font-size: 80px;
	}
	
	section {
		display: flex;
	}

	section article {
		font-size: 1em;
		color: rgb(255, 255, 255);
		background-color: rgb(36, 113, 163);
	}

	section aside {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 180px;
		color: rgb(255, 255, 255);
		background-color: rgb(175, 122, 197);
	}

	section.fun_fact article {
		width: 100%;
	}

	section.pricing {
	display: block;
	}

	section.pricing_one {
		display: flex;
		width: 100%;
	}

	section.pricing_two {
		display: flex;
	}

	section.pricing_three {
		display: block;
	}

	section.pricing article {
		background-color: rgb(236, 112, 99);
		text-align: center;
		padding-bottom: 20px;
	}

	section.pricing_one article:nth-child(1) {
		background-color: rgb(175, 122, 197);
		text-align: center;
		width: 50%;
		padding-bottom: 20px;
	}

	section.pricing_one article:nth-child(2) {
		background-color: rgb(22, 160, 133);
		text-align: center;
		width: 50%;
		padding-bottom: 20px;
	}

	section.pricing_two article:nth-child(1) {
		background-color: rgb(127, 179, 213 );
		width: 25%;
		text-align: center;
		padding-bottom: 20px;
	}

	section.pricing_two article:nth-child(2) {
		background-color: rgb(247, 220, 111);
		width: 50%;
		text-align: center;
		padding-bottom: 20px;
	}

	section.pricing_two article:nth-child(3) {
		background-color: rgb(36, 113, 163);
		width: 25%;
		text-align: center;
		padding-bottom: 20px;
	}

	section.pricing_three article {
		background-color: rgb(205, 97, 85);
		text-align: center;
		padding-bottom: 20px;
	}
}


